body,
html {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.left-nav > .nav-title {
  font-family: "Roboto-Flex", sans-serif;
  font-size: 18px;
}

.right-nav a {
  text-decoration: none;
  color: black;
  font-family: "Roboto-Flex", sans-serif;
  font-size: 12px;
  margin-right: 20px;
}

.right-nav > .nav-label-more {
  text-decoration: none;
  color: white;
  font-family: "Roboto-Flex", sans-serif;
  font-size: 12px;
  margin-right: 20px;
}

.hero-container {
  text-decoration: none;
  color: white;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.hero-text {
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
}

.more-btn a {
  text-decoration: none;
  color: white;
}

.more-btn {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.more-btn:hover {
  box-shadow: -2px -4px 24px 0px rgba(233, 30, 99, 0.5);
}

.values-header {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
}

.values-sections-header {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.values-sections-header p {
  font-size: 14px;
  color: #999999;
}

.about-left {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
}

.about-left p {
  font-size: 18px;
  color: #fefefe;
}

.blog-header {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
}

#blog-header1 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #89229b;
}

#blog-header2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #00bcd4;
}

#blog-header3 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ff4436;
}

.blog-sections h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  color: #3c4858;
}

.blog-sections p {
  font-size: 14px;
  color: #999999;
}

.contact-header h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 37px;
  color: #ffffff;
}

.contact-content h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.contact-content p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #eaeaea;
}

.footer-links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.footer-links a:hover {
  color: #4d4e4e;
}

.copyright {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
}
.page-container .nav-wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10%;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 10%;
}
.page-container .nav-wrapper .left-nav {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
.page-container .nav-wrapper .right-nav {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  padding-right: 200px;
}
.page-container .nav-wrapper .nav-label-more a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e91e63;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}
.page-container .hero-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/pink-gradient-img.jpeg);
  background-size: cover;
}
.page-container .hero-container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.page-container .hero-container .hero-content .more-btn {
  display: flex;
  flex-direction: column;
  background-color: #e91e63;
  border-radius: 20%;
  margin: 0 0 15px 15px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}
.page-container .main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 93%;
  height: 70%;
  margin-top: -5%;
  background-color: white;
  border-radius: 5px;
  box-shadow: -2px -4px 24px 0px rgba(0, 0, 0, 0.5);
}
.page-container .main-container .section {
  padding-top: 30px;
}
.page-container .main-container .title-header p {
  margin: 0;
}
.page-container .main-container .section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  text-wrap: wrap;
  width: 70%;
}
.page-container .main-container .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 60px;
  width: 70%;
}
.page-container .main-container .section-7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  text-wrap: wrap;
  width: 70%;
  padding-bottom: 60px;
}
.page-container .footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #323437;
}
.page-container .footer-wrapper .footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 600px;
}
.page-container .footer-wrapper .footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}/*# sourceMappingURL=blog.css.map */