body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.top-nav-bar a {
  text-decoration: none;
  color: white;
  font: 13px Inter, sans-serif;

  &:hover {
    color: blue;
  }
}

.left-nav > .nav-title {
  font-family: "Roboto-Flex", sans-serif;
  font-size: 18px;
}

.right-nav a {
  text-decoration: none;
  color: black;
  font-family: "Roboto-Flex", sans-serif;
  font-size: 12px;
  margin-right: 20px;
}
