@import "./common.scss";
@import "./mixin.scss";

.page-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.navbar-wrapper {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  margin: 0 20px;
  // border: 1px solid green;

  .left-nav {
    @include flex-center;
    justify-content: space-around;
    width: 15%;
  }

  .right-nav {
    @include flex-center;
    width: 30%;
    justify-content: space-around;
  }
}

.main-section {
  grid-area: 2/2/2/2;
  @include flex-column-center;
}

.footer-wrapper {
  grid-row-start: -1;
  grid-column-start: 1;
  grid-column-end: -1;
}
