body,
html {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.left-nav > .nav-title {
  font-family: "Roboto-Flex", sans-serif;
  font-size: 18px;
}

.right-nav a {
  text-decoration: none;
  color: black;
  font-family: "Roboto-Flex", sans-serif;
  font-size: 12px;
  margin-right: 20px;
}

.hero-container {
  text-decoration: none;
  color: white;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.hero-text {
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
}

.more-btn a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.values-header {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
}

.values-sections-header {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

.values-sections-header p {
  font-size: 14px;
  color: #999999;
}

.about-left {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
}

.about-left p {
  font-size: 18px;
  color: #fefefe;
}

.blog-header {
  font-family: "Roboto Slab", serif;
  font-size: 37px;
}

#blog-header1 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #89229b;
}

#blog-header2 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #00bcd4;
}

#blog-header3 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ff4436;
}

.blog-sections h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  color: #3c4858;
}

.blog-sections p {
  font-size: 14px;
  color: #999999;
}

.contact-header h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 37px;
  color: #ffffff;
}

.contact-content h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.contact-content p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #eaeaea;
}

.footer-links a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.footer-links a:hover {
  color: #4d4e4e;
}

.copyright {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 10%;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-bottom: 10%;
}
.nav-wrapper .left-nav {
  display: flex;
  justify-content: space-around;
  width: 15%;
}
.nav-wrapper .right-nav {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  padding-right: 200px;
}
.nav-wrapper .nav-label-more {
  display: flex;
  background-color: #e91e63;
  border-radius: 50% 50% 50% 50%;
  margin: 10px 10px;
  padding: 20px 10px;
  text-align: center;
}

.hero-container {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/clouds.jpg);
  background-size: cover;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.hero-container .hero-content .more-btn {
  display: flex;
  flex-direction: column;
  background-color: #e91e63;
  border-radius: 100% 100% 100% 100%;
  margin: 10px 10px;
  padding: 20px 10px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 93%;
  height: 70%;
}
.main-content .values-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .values-wrapper .values-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main-content .values-wrapper .values-content-wrapper .values-sections-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 80%;
}
.main-content .about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/new-yc-img.jpeg);
}
.main-content .about-wrapper .about-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  width: 100%;
  text-wrap: wrap;
}
.main-content .about-wrapper .about-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-right: 40px;
  padding-bottom: 50px;
}
.main-content .blog-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .blog-wrapper .blog-content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main-content .blog-wrapper .blog-content-wrapper .blog-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 80%;
}
.main-content .contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../images/nyc-aerial.jpeg);
}
.main-content .contact-wrapper .contact-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #323437;
}
.footer-wrapper .footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 600px;
}
.footer-wrapper .footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}/*# sourceMappingURL=index.css.map */